<div class="m-1">
  <h2>Editar Cupom</h2>
  <hr />
  <form action="/cupom/atualizar" method="POST">
  <input name="id" type="hidden" value="{{cupom._id}}">
    <div class="form-group">
      <label for="codCupom">Codigo</label>
      <input type="text" name="codCupom" id="codCupom" class="form-control" value="{{cupom.codCupom}}" required />
    </div>
    <div class="form-group">
      <label for="dataValidade">Data de Validade</label>
      <input
        type="number"
        name="dataValidade"
        id="dataValidade"
        class="form-control"
        value="{{cupom.dataValidade}}"
        step=".1"
        required
      />
    </div>
    <div class="form-group">
      <label for="descricao">Descrição*</label>
      <textarea
        name="descricao"
        id="descricao"
        rows="10"
        class="form-control"
        required
      >{{cupom.descricao}}</textarea>
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade*</label>
      <input
        type="number"
        name="quantidade"
        id="quantidade"
        class="form-control"
        value="{{cupom.quantidade}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="valor">Valor</label>
      <input
        type="number"
        name="valor"
        id="valor"
        class="form-control"
        value="{{cupom.valor}}"
        required
      />
    </div>
    <button class="btn btn-primary mt-2">Atualizar</button>
  </form>
</div>